.Forecast {
  color: #f2f2f1;
  text-align: center;
  background-image: linear-gradient(to top, #4dd1e2, #15a3b8);
  border: 2px solid #f2f2f1;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(21, 163, 184, 0.3);
}

.Forecast-day, .Forecast-temps {
  font-size: 18px;
}

.Forecast-temp-min {
  opacity: 0.8;
  margin-left: 6px;
}
