.Weather {
  color: #f2f2f1;
  font-family: "Yantramanav", sans-serif;
  max-width: 510px;
  border: 2px solid #f2f2f1;
  box-shadow: 5px 5px 10px rgba(21, 163, 184, 0.3);
  border-radius: 20px;
  background-image: linear-gradient(to top, #4dd1e2, #15a3b8);
}

.Weather form {
  max-width: 350px;
}
.Weather input {
  background-color: #f2f2f1;
  border: 2px solid #15a3b8;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.Weather .current-temp {
  font-size: 36px;
  padding-bottom: 0;
}

.Weather .degree-unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -20px;
}

.Weather .btn-branding {
  border: 1px solid #f2f2f1;
  color: #f2f2f1;
  background-image: linear-gradient(to top, #4dd1e2, #15a3b8);
  transition: all 10s ease-in-out;
}
.Weather .btn-branding:hover {
  background-image: linear-gradient(to bottom, #4dd1e2, #15a3b8);
}

.Weather .current-place-time {
  line-height: 10px;
}
.Weather .current-location-button {
  padding-left: 16px;
  background: transparent;
  color: rgb(72, 72, 75);
  border-style: none;
  transition: all 300ms ease;
}
.Weather .current-location-button:hover {
  color: rgb(34, 38, 42);
}
